/* style.css */

.scanner-container {
    text-align: center;
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.inverted {
    transform: scaleX(-1); /* Inversión horizontal */
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
    font-weight: bold;
}
